<div class="all-content">
  <h1>Stupid coaching</h1>

  <div>
    <form action="/answer" method="get">
      <label class="input-label" for="fname">Ask your coach anything:</label>
      <div class="input-container">
        <input type="text" name="question"
        placeholder="Type your question here">
        <input class="button" type="submit" value="Ask!">
      </div>
    </form>
  </div>
</div>
